policy_module(zos_remote,1.0.0)

########################################
#
# Declarations
#

type zos_remote_t;
type zos_remote_exec_t;

## use below if selinux-policy_devel > 3:
## zos_remote_application_domain(zos_remote_t, zos_remote_exec_t)
logging_audisp_system_domain(zos_remote_t, zos_remote_exec_t)

## use below for RHEL5 series:
init_system_domain(zos_remote_t, zos_remote_exec_t)

role system_r types zos_remote_t;


########################################
#
# zos_remote local policy
#

## internal communication is often done using fifo and unix sockets.
allow zos_remote_t self:fifo_file rw_file_perms;
allow zos_remote_t self:unix_stream_socket create_stream_socket_perms;
## allow signals to self
allow zos_remote_t self:process signal;

## audispd is in the auditd_t domain
gen_require(`
        type auditd_t;
')

## Allow auditd_t->zos_remote_t transition
zos_remote_domtrans(auditd_t);

## audispd execve pipe?
allow zos_remote_t auditd_t:unix_stream_socket { read write getattr };

## audispd must be able to send signals to audispd-zos-remote
allow auditd_t zos_remote_t:process signal;

## Allow network access, name resolv
auth_use_nsswitch(zos_remote_t);
corenet_tcp_connect_generic_port(zos_remote_t);

## Allow use of misc files and libraries
files_read_etc_files(zos_remote_t)
libs_use_ld_so(zos_remote_t)
libs_use_shared_libs(zos_remote_t)
miscfiles_read_localization(zos_remote_t)
logging_send_syslog_msg(zos_remote_t)
