[Unit]
Description=Security Auditing Service
DefaultDependencies=no
After=local-fs.target
Conflicts=shutdown.target
Before=sysinit.target shutdown.target

[Service]
ExecStart=/sbin/auditd -n
## If using augenrules, uncomment next line and delete auditctl line
## after copying to /etc/systemd/system/auditd.service
#ExecStartPost=-/sbin/augenrules --reload
ExecStartPost=-/sbin/auditctl -R /etc/audit/audit.rules
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

